apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kubesphere
    component: ks-sample-dev
    tier: backend
  name: ks-sample-dev
  namespace: kubesphere-sample-dev
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  selector:
    matchLabels:
      app: kubesphere
      component: ks-sample-dev
      tier: backend
  template:
    元数据:
      标签:
        应用： kubesphere
        组件：ks-sample-dev
        层级：后端
    规格:
      容器:
        - 环境:
            - 名称: CACHE_IGNORE
              值：js|html
            - 名称: CACHE_PUBLIC_EXPIRATION
              值：3d
          image: $REGISTRY/$DOCKERHUB_NAMESPACE/$APP_NAME:v$BRANCH_NAME-$BUILD_NUMBER
          就绪探针:
            httpGet：
              路径：/
              端口：8080
            超时秒数：10
            失败阈值：30
            periodSeconds：5
          imagePullPolicy：Always
          名称：ks-样本
          端口:
            - 容器端口：8080
              协议： TCP
          资源:
            限制:
              cpu：300毫秒
              内存：600Mi
            请求:
              中央处理器：100米
              内存: 100Mi
          终止消息路径：/dev/termination-log
          终止消息策略：文件
      dnsPolicy：ClusterFirst
      重启策略：始终
      终止宽限期秒：30
